body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.quiz-container {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.question-container {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.result-container {
  display: none;
  font-weight: bold;
  margin-top: 20px;
}

#next-button {
  display: none;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
